#mainNav {
    background: #0eb0ee;
}

#mainNav .navbar-brand {
    line-height: 1.3;
    color: #fff;
    font-size: 1.5rem;
}

.card {
    height: 100%;
}

footer {
    margin-top: 7rem;
}

footer a {
    color: #fff;
    text-decoration: none;

}

footer a:hover {
    color: #0eb0ee;
}

.swiper-slide {
    padding: 20px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 350px;
    color: white;
}

#conten {
    padding: 50px;
    position: relative;
    z-index: 99;
}

.swiper-slide::before {
    content: "";
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: block;
    height: 100%;
}

#conten_list {
    padding-left: 20px;
}

#conten_list p {
    margin-bottom: 10px;
}

#right-column {
    background-color: #0eb0ee;
    color: white;
    padding: 40px;

}

#left-column {
    background-color: #02022ee8;
    color: white;
    padding: 30px;
}

#left-column i {
    font-size: 30px;
}

#left-column p {
    font-size: 14px;
}

#left-column a {
    color: #fff;
    text-decoration: none;
}

#left-column a:hover {
    color: #0eb0ee;
}

.form-control {
    height: 4.5rem;
    border-radius: 0;
}

.form-control::placeholder {
    color: #333;
}

.btn-success {
    background: #032143;
    border-radius: 0;
    padding: 1rem;
    border: 0;
}

.btn-success:hover {
    background: #fff;
    color: #032143;
}

.btn-secondary {
    background: #0eb0ee;
    border: 0;
    display: block;
    margin: auto;
}

.btn-secondary:hover {
    background: #012752;
}

.more {
    display: none
}

#main_section {
    background: #fff;
}

#loadLess {
    display: none;
}

#loadMore,
#loadLess {

    transition: all 600ms ease-in-out;
    -webkit-transition: all 600ms ease-in-out;
    -moz-transition: all 600ms ease-in-out;
    -o-transition: all 600ms ease-in-out;
}

/* Respomnsive */
@media screen and (max-width:768px) {
    #mainNav .navbar-brand {
        text-align: center;
    }

    .navbar,
    .navbar-toggler {
        border: 0;
        padding: 0;
        font-size: 3rem;
        color: #fff;

    }

    #mainNav .navbar-nav .nav-item .nav-link {
        color: #fff;
    }

    .swiper-slide {
        height: 100%;
    }
}

@media screen and (max-width:600px) {
    #left-column {
        text-align: center;
    }

    .card-title {
        font-size: 22px;
    }

    #manufacturing_head h2 {
        font-size: 22px;
    }

    #manufacturing_body h6 {

        font-size: 18px;
    }

    footer .container h1 {
        font-size: 25px;
        text-align: center;
    }
}

@media screen and (max-width:480px) {
    footer .container h1 {
        font-size: 25px;
    }

    footer #foot p {
        font-size: 13px;
    }

    .marketing h2 {
        font-size: 22px;
    }

    .card-title {
        font-size: 18px;
    }

    #mainNav .navbar-brand {
        font-size: 1.3rem;
    }
}